<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>frames</key>
<dict>
<key>body_walk_front_00</key>
<dict>
<key>frame</key><string>{{2,2},{187,480}}</string>
<key>offset</key><string>{-0.5,-3.5}</string>
<key>rotated</key><false/>
<key>sourceSize</key><string>{264,493}</string>
</dict>
<key>body_walk_front_01</key>
<dict>
<key>frame</key><string>{{191,2},{187,483}}</string>
<key>offset</key><string>{-0.5,0}</string>
<key>rotated</key><false/>
<key>sourceSize</key><string>{264,493}</string>
</dict>
<key>body_walk_front_02</key>
<dict>
<key>frame</key><string>{{380,2},{188,477}}</string>
<key>offset</key><string>{0,5}</string>
<key>rotated</key><false/>
<key>sourceSize</key><string>{264,493}</string>
</dict>
<key>body_walk_front_03</key>
<dict>
<key>frame</key><string>{{570,2},{187,462}}</string>
<key>offset</key><string>{0.5,7.5}</string>
<key>rotated</key><false/>
<key>sourceSize</key><string>{264,493}</string>
</dict>
<key>body_walk_front_04</key>
<dict>
<key>frame</key><string>{{759,2},{187,480}}</string>
<key>offset</key><string>{0.5,-3.5}</string>
<key>rotated</key><false/>
<key>sourceSize</key><string>{264,493}</string>
</dict>
<key>body_walk_front_05</key>
<dict>
<key>frame</key><string>{{948,2},{187,483}}</string>
<key>offset</key><string>{0.5,0}</string>
<key>rotated</key><false/>
<key>sourceSize</key><string>{264,493}</string>
</dict>
<key>body_walk_front_06</key>
<dict>
<key>frame</key><string>{{1137,2},{188,477}}</string>
<key>offset</key><string>{0,5}</string>
<key>rotated</key><false/>
<key>sourceSize</key><string>{264,493}</string>
</dict>
<key>body_walk_front_07</key>
<dict>
<key>frame</key><string>{{1327,2},{187,462}}</string>
<key>offset</key><string>{-0.5,7.5}</string>
<key>rotated</key><false/>
<key>sourceSize</key><string>{264,493}</string>
</dict>
<key>body_walk_right_00</key>
<dict>
<key>frame</key><string>{{1516,2},{236,458}}</string>
<key>offset</key><string>{3,5.5}</string>
<key>rotated</key><false/>
<key>sourceSize</key><string>{264,493}</string>
</dict>
<key>body_walk_right_01</key>
<dict>
<key>frame</key><string>{{1754,2},{223,462}}</string>
<key>offset</key><string>{-18.5,8.5}</string>
<key>rotated</key><false/>
<key>sourceSize</key><string>{264,493}</string>
</dict>
<key>body_walk_right_02</key>
<dict>
<key>frame</key><string>{{2,487},{183,462}}</string>
<key>offset</key><string>{-8.5,10.5}</string>
<key>rotated</key><false/>
<key>sourceSize</key><string>{264,493}</string>
</dict>
<key>body_walk_right_03</key>
<dict>
<key>frame</key><string>{{187,487},{174,459}}</string>
<key>offset</key><string>{-4,7}</string>
<key>rotated</key><false/>
<key>sourceSize</key><string>{264,493}</string>
</dict>
<key>body_walk_right_04</key>
<dict>
<key>frame</key><string>{{363,487},{209,469}}</string>
<key>offset</key><string>{2.5,0}</string>
<key>rotated</key><false/>
<key>sourceSize</key><string>{264,493}</string>
</dict>
<key>body_walk_right_05</key>
<dict>
<key>frame</key><string>{{574,487},{200,477}}</string>
<key>offset</key><string>{-17,1}</string>
<key>rotated</key><false/>
<key>sourceSize</key><string>{264,493}</string>
</dict>
<key>body_walk_right_06</key>
<dict>
<key>frame</key><string>{{776,487},{174,477}}</string>
<key>offset</key><string>{-4,3}</string>
<key>rotated</key><false/>
<key>sourceSize</key><string>{264,493}</string>
</dict>
<key>body_walk_right_07</key>
<dict>
<key>frame</key><string>{{952,487},{173,469}}</string>
<key>offset</key><string>{-4.5,2}</string>
<key>rotated</key><false/>
<key>sourceSize</key><string>{264,493}</string>
</dict>
<key>body_walk_back_00</key>
<dict>
<key>frame</key><string>{{1127,487},{187,460}}</string>
<key>offset</key><string>{0.5,1.5}</string>
<key>rotated</key><false/>
<key>sourceSize</key><string>{264,493}</string>
</dict>
<key>body_walk_back_01</key>
<dict>
<key>frame</key><string>{{1316,487},{187,457}}</string>
<key>offset</key><string>{0.5,8}</string>
<key>rotated</key><false/>
<key>sourceSize</key><string>{264,493}</string>
</dict>
<key>body_walk_back_02</key>
<dict>
<key>frame</key><string>{{1505,487},{188,466}}</string>
<key>offset</key><string>{0,5.5}</string>
<key>rotated</key><false/>
<key>sourceSize</key><string>{264,493}</string>
</dict>
<key>body_walk_back_03</key>
<dict>
<key>frame</key><string>{{1695,487},{188,469}}</string>
<key>offset</key><string>{0,-1}</string>
<key>rotated</key><false/>
<key>sourceSize</key><string>{264,493}</string>
</dict>
<key>body_walk_back_04</key>
<dict>
<key>frame</key><string>{{2,966},{187,460}}</string>
<key>offset</key><string>{-0.5,1.5}</string>
<key>rotated</key><false/>
<key>sourceSize</key><string>{264,493}</string>
</dict>
<key>body_walk_back_05</key>
<dict>
<key>frame</key><string>{{191,966},{188,457}}</string>
<key>offset</key><string>{0,8}</string>
<key>rotated</key><false/>
<key>sourceSize</key><string>{264,493}</string>
</dict>
<key>body_walk_back_06</key>
<dict>
<key>frame</key><string>{{381,966},{188,466}}</string>
<key>offset</key><string>{0,5.5}</string>
<key>rotated</key><false/>
<key>sourceSize</key><string>{264,493}</string>
</dict>
<key>body_walk_back_07</key>
<dict>
<key>frame</key><string>{{571,966},{187,469}}</string>
<key>offset</key><string>{0.5,-1}</string>
<key>rotated</key><false/>
<key>sourceSize</key><string>{264,493}</string>
</dict>
<key>body_walk_left_00</key>
<dict>
<key>frame</key><string>{{760,966},{209,469}}</string>
<key>offset</key><string>{-2.5,0}</string>
<key>rotated</key><false/>
<key>sourceSize</key><string>{264,493}</string>
</dict>
<key>body_walk_left_01</key>
<dict>
<key>frame</key><string>{{971,966},{201,477}}</string>
<key>offset</key><string>{16.5,1}</string>
<key>rotated</key><false/>
<key>sourceSize</key><string>{264,493}</string>
</dict>
<key>body_walk_left_02</key>
<dict>
<key>frame</key><string>{{1174,966},{177,477}}</string>
<key>offset</key><string>{4.5,3}</string>
<key>rotated</key><false/>
<key>sourceSize</key><string>{264,493}</string>
</dict>
<key>body_walk_left_03</key>
<dict>
<key>frame</key><string>{{1353,966},{176,469}}</string>
<key>offset</key><string>{5,2}</string>
<key>rotated</key><false/>
<key>sourceSize</key><string>{264,493}</string>
</dict>
<key>body_walk_left_04</key>
<dict>
<key>frame</key><string>{{1531,966},{236,458}}</string>
<key>offset</key><string>{-3,5.5}</string>
<key>rotated</key><false/>
<key>sourceSize</key><string>{264,493}</string>
</dict>
<key>body_walk_left_05</key>
<dict>
<key>frame</key><string>{{1769,966},{223,461}}</string>
<key>offset</key><string>{18.5,8}</string>
<key>rotated</key><false/>
<key>sourceSize</key><string>{264,493}</string>
</dict>
<key>body_walk_left_06</key>
<dict>
<key>frame</key><string>{{2,1445},{184,462}}</string>
<key>offset</key><string>{8,10.5}</string>
<key>rotated</key><false/>
<key>sourceSize</key><string>{264,493}</string>
</dict>
<key>body_walk_left_07</key>
<dict>
<key>frame</key><string>{{188,1445},{177,459}}</string>
<key>offset</key><string>{4.5,7}</string>
<key>rotated</key><false/>
<key>sourceSize</key><string>{264,493}</string>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key><integer>2</integer>
<key>size</key><string>{1994,1909}</string>
<key>textureFileName</key><string>body_walk.png</string>
</dict>
</dict>
</plist>
