<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>frames</key>
<dict>
<key>body_idle_front_00</key>
<dict>
<key>frame</key><string>{{2,2},{188,477}}</string>
<key>offset</key><string>{0,5}</string>
<key>rotated</key><false/>
<key>sourceSize</key><string>{264,493}</string>
</dict>
<key>body_idle_front_01</key>
<dict>
<key>frame</key><string>{{192,2},{188,478}}</string>
<key>offset</key><string>{0,5.5}</string>
<key>rotated</key><false/>
<key>sourceSize</key><string>{264,493}</string>
</dict>
<key>body_idle_front_02</key>
<dict>
<key>frame</key><string>{{382,2},{188,478}}</string>
<key>offset</key><string>{0,5.5}</string>
<key>rotated</key><false/>
<key>sourceSize</key><string>{264,493}</string>
</dict>
<key>body_idle_right_00</key>
<dict>
<key>frame</key><string>{{572,2},{175,476}}</string>
<key>offset</key><string>{-7.5,2.5}</string>
<key>rotated</key><false/>
<key>sourceSize</key><string>{264,493}</string>
</dict>
<key>body_idle_right_01</key>
<dict>
<key>frame</key><string>{{749,2},{175,476}}</string>
<key>offset</key><string>{-8.5,2.5}</string>
<key>rotated</key><false/>
<key>sourceSize</key><string>{264,493}</string>
</dict>
<key>body_idle_right_02</key>
<dict>
<key>frame</key><string>{{926,2},{176,477}}</string>
<key>offset</key><string>{-9,3}</string>
<key>rotated</key><false/>
<key>sourceSize</key><string>{264,493}</string>
</dict>
<key>body_idle_back_00</key>
<dict>
<key>frame</key><string>{{1104,2},{188,463}}</string>
<key>offset</key><string>{0,4}</string>
<key>rotated</key><false/>
<key>sourceSize</key><string>{264,493}</string>
</dict>
<key>body_idle_back_01</key>
<dict>
<key>frame</key><string>{{1294,2},{188,463}}</string>
<key>offset</key><string>{0,4}</string>
<key>rotated</key><false/>
<key>sourceSize</key><string>{264,493}</string>
</dict>
<key>body_idle_back_02</key>
<dict>
<key>frame</key><string>{{1484,2},{188,463}}</string>
<key>offset</key><string>{0,4}</string>
<key>rotated</key><false/>
<key>sourceSize</key><string>{264,493}</string>
</dict>
<key>body_idle_left_00</key>
<dict>
<key>frame</key><string>{{1674,2},{178,476}}</string>
<key>offset</key><string>{8,2.5}</string>
<key>rotated</key><false/>
<key>sourceSize</key><string>{264,493}</string>
</dict>
<key>body_idle_left_01</key>
<dict>
<key>frame</key><string>{{1854,2},{178,476}}</string>
<key>offset</key><string>{9,2.5}</string>
<key>rotated</key><false/>
<key>sourceSize</key><string>{264,493}</string>
</dict>
<key>body_idle_left_02</key>
<dict>
<key>frame</key><string>{{2,482},{179,476}}</string>
<key>offset</key><string>{9.5,2.5}</string>
<key>rotated</key><false/>
<key>sourceSize</key><string>{264,493}</string>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key><integer>2</integer>
<key>size</key><string>{2034,960}</string>
<key>textureFileName</key><string>body_idle.png</string>
</dict>
</dict>
</plist>
