<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>frames</key>
<dict>
<key>shield_idle_front_00</key>
<dict>
<key>frame</key><string>{{2,2},{125,121}}</string>
<key>offset</key><string>{75.5,13}</string>
<key>rotated</key><false/>
<key>sourceSize</key><string>{600,701}</string>
</dict>
<key>shield_idle_front_01</key>
<dict>
<key>frame</key><string>{{129,2},{125,121}}</string>
<key>offset</key><string>{75.5,14}</string>
<key>rotated</key><false/>
<key>sourceSize</key><string>{600,701}</string>
</dict>
<key>shield_idle_front_02</key>
<dict>
<key>frame</key><string>{{256,2},{125,121}}</string>
<key>offset</key><string>{75.5,15}</string>
<key>rotated</key><false/>
<key>sourceSize</key><string>{600,701}</string>
</dict>
<key>shield_idle_right_00</key>
<dict>
<key>frame</key><string>{{383,2},{45,124}}</string>
<key>offset</key><string>{76.5,42.5}</string>
<key>rotated</key><false/>
<key>sourceSize</key><string>{600,701}</string>
</dict>
<key>shield_idle_right_01</key>
<dict>
<key>frame</key><string>{{430,2},{46,124}}</string>
<key>offset</key><string>{76,43.5}</string>
<key>rotated</key><false/>
<key>sourceSize</key><string>{600,701}</string>
</dict>
<key>shield_idle_right_02</key>
<dict>
<key>frame</key><string>{{478,2},{45,124}}</string>
<key>offset</key><string>{75.5,44.5}</string>
<key>rotated</key><false/>
<key>sourceSize</key><string>{600,701}</string>
</dict>
<key>shield_idle_back_00</key>
<dict>
<key>frame</key><string>{{525,2},{106,121}}</string>
<key>offset</key><string>{-85,43}</string>
<key>rotated</key><false/>
<key>sourceSize</key><string>{600,701}</string>
</dict>
<key>shield_idle_back_01</key>
<dict>
<key>frame</key><string>{{633,2},{106,121}}</string>
<key>offset</key><string>{-85,44}</string>
<key>rotated</key><false/>
<key>sourceSize</key><string>{600,701}</string>
</dict>
<key>shield_idle_back_02</key>
<dict>
<key>frame</key><string>{{741,2},{106,121}}</string>
<key>offset</key><string>{-85,44}</string>
<key>rotated</key><false/>
<key>sourceSize</key><string>{600,701}</string>
</dict>
<key>shield_idle_left_00</key>
<dict>
<key>frame</key><string>{{849,2},{45,124}}</string>
<key>offset</key><string>{-37.5,5.5}</string>
<key>rotated</key><false/>
<key>sourceSize</key><string>{600,701}</string>
</dict>
<key>shield_idle_left_01</key>
<dict>
<key>frame</key><string>{{896,2},{46,123}}</string>
<key>offset</key><string>{-37,6}</string>
<key>rotated</key><false/>
<key>sourceSize</key><string>{600,701}</string>
</dict>
<key>shield_idle_left_02</key>
<dict>
<key>frame</key><string>{{944,2},{45,124}}</string>
<key>offset</key><string>{-36.5,6.5}</string>
<key>rotated</key><false/>
<key>sourceSize</key><string>{600,701}</string>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key><integer>2</integer>
<key>size</key><string>{991,128}</string>
<key>textureFileName</key><string>shield_idle.png</string>
</dict>
</dict>
</plist>
