<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>frames</key>
<dict>
<key>staff_idle_front_00</key>
<dict>
<key>frame</key><string>{{2,2},{43,369}}</string>
<key>offset</key><string>{-79.5,-23}</string>
<key>rotated</key><false/>
<key>sourceSize</key><string>{600,701}</string>
</dict>
<key>staff_idle_front_01</key>
<dict>
<key>frame</key><string>{{47,2},{43,369}}</string>
<key>offset</key><string>{-79.5,-22}</string>
<key>rotated</key><false/>
<key>sourceSize</key><string>{600,701}</string>
</dict>
<key>staff_idle_front_02</key>
<dict>
<key>frame</key><string>{{92,2},{43,370}}</string>
<key>offset</key><string>{-79.5,-21.5}</string>
<key>rotated</key><false/>
<key>sourceSize</key><string>{600,701}</string>
</dict>
<key>staff_idle_right_00</key>
<dict>
<key>frame</key><string>{{137,2},{43,370}}</string>
<key>offset</key><string>{22.5,-34.5}</string>
<key>rotated</key><false/>
<key>sourceSize</key><string>{600,701}</string>
</dict>
<key>staff_idle_right_01</key>
<dict>
<key>frame</key><string>{{182,2},{43,370}}</string>
<key>offset</key><string>{22.5,-33.5}</string>
<key>rotated</key><false/>
<key>sourceSize</key><string>{600,701}</string>
</dict>
<key>staff_idle_right_02</key>
<dict>
<key>frame</key><string>{{227,2},{43,370}}</string>
<key>offset</key><string>{21.5,-32.5}</string>
<key>rotated</key><false/>
<key>sourceSize</key><string>{600,701}</string>
</dict>
<key>staff_idle_back_00</key>
<dict>
<key>frame</key><string>{{272,2},{39,370}}</string>
<key>offset</key><string>{81.5,0.5}</string>
<key>rotated</key><false/>
<key>sourceSize</key><string>{600,701}</string>
</dict>
<key>staff_idle_back_01</key>
<dict>
<key>frame</key><string>{{313,2},{39,369}}</string>
<key>offset</key><string>{81.5,1}</string>
<key>rotated</key><false/>
<key>sourceSize</key><string>{600,701}</string>
</dict>
<key>staff_idle_back_02</key>
<dict>
<key>frame</key><string>{{354,2},{39,370}}</string>
<key>offset</key><string>{81.5,1.5}</string>
<key>rotated</key><false/>
<key>sourceSize</key><string>{600,701}</string>
</dict>
<key>staff_idle_left_00</key>
<dict>
<key>frame</key><string>{{395,2},{41,370}}</string>
<key>offset</key><string>{-64.5,5.5}</string>
<key>rotated</key><false/>
<key>sourceSize</key><string>{600,701}</string>
</dict>
<key>staff_idle_left_01</key>
<dict>
<key>frame</key><string>{{438,2},{41,370}}</string>
<key>offset</key><string>{-64.5,6.5}</string>
<key>rotated</key><false/>
<key>sourceSize</key><string>{600,701}</string>
</dict>
<key>staff_idle_left_02</key>
<dict>
<key>frame</key><string>{{481,2},{42,369}}</string>
<key>offset</key><string>{-64,7}</string>
<key>rotated</key><false/>
<key>sourceSize</key><string>{600,701}</string>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key><integer>2</integer>
<key>size</key><string>{525,374}</string>
<key>textureFileName</key><string>staff_idle.png</string>
</dict>
</dict>
</plist>
