<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>frames</key>
<dict>
<key>staff_walk_front_00</key>
<dict>
<key>frame</key><string>{{2,2},{42,370}}</string>
<key>offset</key><string>{-80,-29.5}</string>
<key>rotated</key><false/>
<key>sourceSize</key><string>{600,701}</string>
</dict>
<key>staff_walk_front_01</key>
<dict>
<key>frame</key><string>{{46,2},{42,370}}</string>
<key>offset</key><string>{-80,-24.5}</string>
<key>rotated</key><false/>
<key>sourceSize</key><string>{600,701}</string>
</dict>
<key>staff_walk_front_02</key>
<dict>
<key>frame</key><string>{{90,2},{43,370}}</string>
<key>offset</key><string>{-79.5,-22.5}</string>
<key>rotated</key><false/>
<key>sourceSize</key><string>{600,701}</string>
</dict>
<key>staff_walk_front_03</key>
<dict>
<key>frame</key><string>{{135,2},{43,369}}</string>
<key>offset</key><string>{-79.5,-27}</string>
<key>rotated</key><false/>
<key>sourceSize</key><string>{600,701}</string>
</dict>
<key>staff_walk_front_04</key>
<dict>
<key>frame</key><string>{{180,2},{43,370}}</string>
<key>offset</key><string>{-79.5,-28.5}</string>
<key>rotated</key><false/>
<key>sourceSize</key><string>{600,701}</string>
</dict>
<key>staff_walk_front_05</key>
<dict>
<key>frame</key><string>{{225,2},{43,370}}</string>
<key>offset</key><string>{-79.5,-24.5}</string>
<key>rotated</key><false/>
<key>sourceSize</key><string>{600,701}</string>
</dict>
<key>staff_walk_front_06</key>
<dict>
<key>frame</key><string>{{270,2},{43,370}}</string>
<key>offset</key><string>{-79.5,-22.5}</string>
<key>rotated</key><false/>
<key>sourceSize</key><string>{600,701}</string>
</dict>
<key>staff_walk_front_07</key>
<dict>
<key>frame</key><string>{{315,2},{42,370}}</string>
<key>offset</key><string>{-80,-27.5}</string>
<key>rotated</key><false/>
<key>sourceSize</key><string>{600,701}</string>
</dict>
<key>staff_walk_right_00</key>
<dict>
<key>frame</key><string>{{359,2},{43,369}}</string>
<key>offset</key><string>{26.5,-40}</string>
<key>rotated</key><false/>
<key>sourceSize</key><string>{600,701}</string>
</dict>
<key>staff_walk_right_01</key>
<dict>
<key>frame</key><string>{{404,2},{43,370}}</string>
<key>offset</key><string>{26.5,-35.5}</string>
<key>rotated</key><false/>
<key>sourceSize</key><string>{600,701}</string>
</dict>
<key>staff_walk_right_02</key>
<dict>
<key>frame</key><string>{{449,2},{43,369}}</string>
<key>offset</key><string>{25.5,-33}</string>
<key>rotated</key><false/>
<key>sourceSize</key><string>{600,701}</string>
</dict>
<key>staff_walk_right_03</key>
<dict>
<key>frame</key><string>{{494,2},{43,370}}</string>
<key>offset</key><string>{25.5,-37.5}</string>
<key>rotated</key><false/>
<key>sourceSize</key><string>{600,701}</string>
</dict>
<key>staff_walk_right_04</key>
<dict>
<key>frame</key><string>{{539,2},{43,370}}</string>
<key>offset</key><string>{24.5,-39.5}</string>
<key>rotated</key><false/>
<key>sourceSize</key><string>{600,701}</string>
</dict>
<key>staff_walk_right_05</key>
<dict>
<key>frame</key><string>{{584,2},{43,369}}</string>
<key>offset</key><string>{25.5,-35}</string>
<key>rotated</key><false/>
<key>sourceSize</key><string>{600,701}</string>
</dict>
<key>staff_walk_right_06</key>
<dict>
<key>frame</key><string>{{629,2},{43,369}}</string>
<key>offset</key><string>{25.5,-33}</string>
<key>rotated</key><false/>
<key>sourceSize</key><string>{600,701}</string>
</dict>
<key>staff_walk_right_07</key>
<dict>
<key>frame</key><string>{{674,2},{43,369}}</string>
<key>offset</key><string>{26.5,-38}</string>
<key>rotated</key><false/>
<key>sourceSize</key><string>{600,701}</string>
</dict>
<key>staff_walk_back_00</key>
<dict>
<key>frame</key><string>{{719,2},{38,369}}</string>
<key>offset</key><string>{82,-4}</string>
<key>rotated</key><false/>
<key>sourceSize</key><string>{600,701}</string>
</dict>
<key>staff_walk_back_01</key>
<dict>
<key>frame</key><string>{{759,2},{39,370}}</string>
<key>offset</key><string>{81.5,0.5}</string>
<key>rotated</key><false/>
<key>sourceSize</key><string>{600,701}</string>
</dict>
<key>staff_walk_back_02</key>
<dict>
<key>frame</key><string>{{800,2},{39,370}}</string>
<key>offset</key><string>{81.5,2.5}</string>
<key>rotated</key><false/>
<key>sourceSize</key><string>{600,701}</string>
</dict>
<key>staff_walk_back_03</key>
<dict>
<key>frame</key><string>{{841,2},{39,370}}</string>
<key>offset</key><string>{81.5,-2.5}</string>
<key>rotated</key><false/>
<key>sourceSize</key><string>{600,701}</string>
</dict>
<key>staff_walk_back_04</key>
<dict>
<key>frame</key><string>{{882,2},{39,370}}</string>
<key>offset</key><string>{81.5,-4.5}</string>
<key>rotated</key><false/>
<key>sourceSize</key><string>{600,701}</string>
</dict>
<key>staff_walk_back_05</key>
<dict>
<key>frame</key><string>{{923,2},{39,369}}</string>
<key>offset</key><string>{81.5,0}</string>
<key>rotated</key><false/>
<key>sourceSize</key><string>{600,701}</string>
</dict>
<key>staff_walk_back_06</key>
<dict>
<key>frame</key><string>{{964,2},{39,370}}</string>
<key>offset</key><string>{81.5,2.5}</string>
<key>rotated</key><false/>
<key>sourceSize</key><string>{600,701}</string>
</dict>
<key>staff_walk_back_07</key>
<dict>
<key>frame</key><string>{{1005,2},{39,370}}</string>
<key>offset</key><string>{81.5,-2.5}</string>
<key>rotated</key><false/>
<key>sourceSize</key><string>{600,701}</string>
</dict>
<key>staff_walk_left_00</key>
<dict>
<key>frame</key><string>{{1046,2},{42,369}}</string>
<key>offset</key><string>{-69,0}</string>
<key>rotated</key><false/>
<key>sourceSize</key><string>{600,701}</string>
</dict>
<key>staff_walk_left_01</key>
<dict>
<key>frame</key><string>{{1090,2},{41,370}}</string>
<key>offset</key><string>{-68.5,4.5}</string>
<key>rotated</key><false/>
<key>sourceSize</key><string>{600,701}</string>
</dict>
<key>staff_walk_left_02</key>
<dict>
<key>frame</key><string>{{1133,2},{40,370}}</string>
<key>offset</key><string>{-68,6.5}</string>
<key>rotated</key><false/>
<key>sourceSize</key><string>{600,701}</string>
</dict>
<key>staff_walk_left_03</key>
<dict>
<key>frame</key><string>{{1175,2},{40,369}}</string>
<key>offset</key><string>{-68,2}</string>
<key>rotated</key><false/>
<key>sourceSize</key><string>{600,701}</string>
</dict>
<key>staff_walk_left_04</key>
<dict>
<key>frame</key><string>{{1217,2},{39,359}}</string>
<key>offset</key><string>{-67.5,5}</string>
<key>rotated</key><false/>
<key>sourceSize</key><string>{600,701}</string>
</dict>
<key>staff_walk_left_05</key>
<dict>
<key>frame</key><string>{{1258,2},{40,370}}</string>
<key>offset</key><string>{-68,4.5}</string>
<key>rotated</key><false/>
<key>sourceSize</key><string>{600,701}</string>
</dict>
<key>staff_walk_left_06</key>
<dict>
<key>frame</key><string>{{1300,2},{40,370}}</string>
<key>offset</key><string>{-68,6.5}</string>
<key>rotated</key><false/>
<key>sourceSize</key><string>{600,701}</string>
</dict>
<key>staff_walk_left_07</key>
<dict>
<key>frame</key><string>{{1342,2},{41,369}}</string>
<key>offset</key><string>{-68.5,2}</string>
<key>rotated</key><false/>
<key>sourceSize</key><string>{600,701}</string>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key><integer>2</integer>
<key>size</key><string>{1385,374}</string>
<key>textureFileName</key><string>staff_walk.png</string>
</dict>
</dict>
</plist>
