<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>frames</key>
<dict>
<key>topA_idle_front_00</key>
<dict>
<key>frame</key><string>{{2,2},{142,150}}</string>
<key>offset</key><string>{0,21.5}</string>
<key>rotated</key><false/>
<key>sourceSize</key><string>{264,493}</string>
</dict>
<key>topA_idle_front_01</key>
<dict>
<key>frame</key><string>{{146,2},{142,151}}</string>
<key>offset</key><string>{0,22}</string>
<key>rotated</key><false/>
<key>sourceSize</key><string>{264,493}</string>
</dict>
<key>topA_idle_front_02</key>
<dict>
<key>frame</key><string>{{290,2},{142,152}}</string>
<key>offset</key><string>{0,21.5}</string>
<key>rotated</key><false/>
<key>sourceSize</key><string>{264,493}</string>
</dict>
<key>topA_idle_right_00</key>
<dict>
<key>frame</key><string>{{434,2},{97,153}}</string>
<key>offset</key><string>{4.5,18}</string>
<key>rotated</key><false/>
<key>sourceSize</key><string>{264,493}</string>
</dict>
<key>topA_idle_right_01</key>
<dict>
<key>frame</key><string>{{533,2},{97,153}}</string>
<key>offset</key><string>{4.5,18}</string>
<key>rotated</key><false/>
<key>sourceSize</key><string>{264,493}</string>
</dict>
<key>topA_idle_right_02</key>
<dict>
<key>frame</key><string>{{632,2},{98,153}}</string>
<key>offset</key><string>{5,18}</string>
<key>rotated</key><false/>
<key>sourceSize</key><string>{264,493}</string>
</dict>
<key>topA_idle_back_00</key>
<dict>
<key>frame</key><string>{{732,2},{108,70}}</string>
<key>offset</key><string>{0,-19.5}</string>
<key>rotated</key><false/>
<key>sourceSize</key><string>{264,493}</string>
</dict>
<key>topA_idle_back_01</key>
<dict>
<key>frame</key><string>{{842,2},{108,70}}</string>
<key>offset</key><string>{0,-18.5}</string>
<key>rotated</key><false/>
<key>sourceSize</key><string>{264,493}</string>
</dict>
<key>topA_idle_back_02</key>
<dict>
<key>frame</key><string>{{952,2},{109,68}}</string>
<key>offset</key><string>{0.5,-18.5}</string>
<key>rotated</key><false/>
<key>sourceSize</key><string>{264,493}</string>
</dict>
<key>topA_idle_left_00</key>
<dict>
<key>frame</key><string>{{1063,2},{97,153}}</string>
<key>offset</key><string>{-4.5,18}</string>
<key>rotated</key><false/>
<key>sourceSize</key><string>{264,493}</string>
</dict>
<key>topA_idle_left_01</key>
<dict>
<key>frame</key><string>{{1162,2},{97,153}}</string>
<key>offset</key><string>{-4.5,18}</string>
<key>rotated</key><false/>
<key>sourceSize</key><string>{264,493}</string>
</dict>
<key>topA_idle_left_02</key>
<dict>
<key>frame</key><string>{{1261,2},{98,153}}</string>
<key>offset</key><string>{-5,18}</string>
<key>rotated</key><false/>
<key>sourceSize</key><string>{264,493}</string>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key><integer>2</integer>
<key>size</key><string>{1361,157}</string>
<key>textureFileName</key><string>topA_idle.png</string>
</dict>
</dict>
</plist>
