<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>frames</key>
<dict>
<key>topA_walk_front_00</key>
<dict>
<key>frame</key><string>{{2,2},{142,157}}</string>
<key>offset</key><string>{0,12}</string>
<key>rotated</key><false/>
<key>sourceSize</key><string>{264,493}</string>
</dict>
<key>topA_walk_front_01</key>
<dict>
<key>frame</key><string>{{146,2},{142,155}}</string>
<key>offset</key><string>{0,17}</string>
<key>rotated</key><false/>
<key>sourceSize</key><string>{264,493}</string>
</dict>
<key>topA_walk_front_02</key>
<dict>
<key>frame</key><string>{{290,2},{142,151}}</string>
<key>offset</key><string>{0,21}</string>
<key>rotated</key><false/>
<key>sourceSize</key><string>{264,493}</string>
</dict>
<key>topA_walk_front_03</key>
<dict>
<key>frame</key><string>{{434,2},{142,155}}</string>
<key>offset</key><string>{0,15}</string>
<key>rotated</key><false/>
<key>sourceSize</key><string>{264,493}</string>
</dict>
<key>topA_walk_front_04</key>
<dict>
<key>frame</key><string>{{578,2},{142,157}}</string>
<key>offset</key><string>{0,12}</string>
<key>rotated</key><false/>
<key>sourceSize</key><string>{264,493}</string>
</dict>
<key>topA_walk_front_05</key>
<dict>
<key>frame</key><string>{{722,2},{142,154}}</string>
<key>offset</key><string>{0,17.5}</string>
<key>rotated</key><false/>
<key>sourceSize</key><string>{264,493}</string>
</dict>
<key>topA_walk_front_06</key>
<dict>
<key>frame</key><string>{{866,2},{142,151}}</string>
<key>offset</key><string>{0,21}</string>
<key>rotated</key><false/>
<key>sourceSize</key><string>{264,493}</string>
</dict>
<key>topA_walk_front_07</key>
<dict>
<key>frame</key><string>{{1010,2},{142,155}}</string>
<key>offset</key><string>{0,15}</string>
<key>rotated</key><false/>
<key>sourceSize</key><string>{264,493}</string>
</dict>
<key>topA_walk_right_00</key>
<dict>
<key>frame</key><string>{{1154,2},{98,159}}</string>
<key>offset</key><string>{6,10}</string>
<key>rotated</key><false/>
<key>sourceSize</key><string>{264,493}</string>
</dict>
<key>topA_walk_right_01</key>
<dict>
<key>frame</key><string>{{1254,2},{99,157}}</string>
<key>offset</key><string>{5.5,15}</string>
<key>rotated</key><false/>
<key>sourceSize</key><string>{264,493}</string>
</dict>
<key>topA_walk_right_02</key>
<dict>
<key>frame</key><string>{{1355,2},{99,155}}</string>
<key>offset</key><string>{5.5,19}</string>
<key>rotated</key><false/>
<key>sourceSize</key><string>{264,493}</string>
</dict>
<key>topA_walk_right_03</key>
<dict>
<key>frame</key><string>{{1456,2},{98,154}}</string>
<key>offset</key><string>{6,14.5}</string>
<key>rotated</key><false/>
<key>sourceSize</key><string>{264,493}</string>
</dict>
<key>topA_walk_right_04</key>
<dict>
<key>frame</key><string>{{1556,2},{98,155}}</string>
<key>offset</key><string>{6,12}</string>
<key>rotated</key><false/>
<key>sourceSize</key><string>{264,493}</string>
</dict>
<key>topA_walk_right_05</key>
<dict>
<key>frame</key><string>{{1656,2},{98,153}}</string>
<key>offset</key><string>{6,17}</string>
<key>rotated</key><false/>
<key>sourceSize</key><string>{264,493}</string>
</dict>
<key>topA_walk_right_06</key>
<dict>
<key>frame</key><string>{{1756,2},{99,155}}</string>
<key>offset</key><string>{5.5,19}</string>
<key>rotated</key><false/>
<key>sourceSize</key><string>{264,493}</string>
</dict>
<key>topA_walk_right_07</key>
<dict>
<key>frame</key><string>{{1857,2},{99,157}}</string>
<key>offset</key><string>{5.5,13}</string>
<key>rotated</key><false/>
<key>sourceSize</key><string>{264,493}</string>
</dict>
<key>topA_walk_back_00</key>
<dict>
<key>frame</key><string>{{2,163},{109,77}}</string>
<key>offset</key><string>{0.5,-27}</string>
<key>rotated</key><false/>
<key>sourceSize</key><string>{264,493}</string>
</dict>
<key>topA_walk_back_01</key>
<dict>
<key>frame</key><string>{{113,163},{109,75}}</string>
<key>offset</key><string>{0.5,-21}</string>
<key>rotated</key><false/>
<key>sourceSize</key><string>{264,493}</string>
</dict>
<key>topA_walk_back_02</key>
<dict>
<key>frame</key><string>{{224,163},{109,71}}</string>
<key>offset</key><string>{0.5,-17}</string>
<key>rotated</key><false/>
<key>sourceSize</key><string>{264,493}</string>
</dict>
<key>topA_walk_back_03</key>
<dict>
<key>frame</key><string>{{335,163},{109,75}}</string>
<key>offset</key><string>{-0.5,-24}</string>
<key>rotated</key><false/>
<key>sourceSize</key><string>{264,493}</string>
</dict>
<key>topA_walk_back_04</key>
<dict>
<key>frame</key><string>{{446,163},{109,76}}</string>
<key>offset</key><string>{-0.5,-26.5}</string>
<key>rotated</key><false/>
<key>sourceSize</key><string>{264,493}</string>
</dict>
<key>topA_walk_back_05</key>
<dict>
<key>frame</key><string>{{557,163},{109,75}}</string>
<key>offset</key><string>{-0.5,-21}</string>
<key>rotated</key><false/>
<key>sourceSize</key><string>{264,493}</string>
</dict>
<key>topA_walk_back_06</key>
<dict>
<key>frame</key><string>{{668,163},{109,71}}</string>
<key>offset</key><string>{0.5,-17}</string>
<key>rotated</key><false/>
<key>sourceSize</key><string>{264,493}</string>
</dict>
<key>topA_walk_back_07</key>
<dict>
<key>frame</key><string>{{779,163},{109,75}}</string>
<key>offset</key><string>{0.5,-24}</string>
<key>rotated</key><false/>
<key>sourceSize</key><string>{264,493}</string>
</dict>
<key>topA_walk_left_00</key>
<dict>
<key>frame</key><string>{{890,163},{98,155}}</string>
<key>offset</key><string>{-6,12}</string>
<key>rotated</key><false/>
<key>sourceSize</key><string>{264,493}</string>
</dict>
<key>topA_walk_left_01</key>
<dict>
<key>frame</key><string>{{990,163},{98,153}}</string>
<key>offset</key><string>{-6,17}</string>
<key>rotated</key><false/>
<key>sourceSize</key><string>{264,493}</string>
</dict>
<key>topA_walk_left_02</key>
<dict>
<key>frame</key><string>{{1090,163},{99,154}}</string>
<key>offset</key><string>{-5.5,18.5}</string>
<key>rotated</key><false/>
<key>sourceSize</key><string>{264,493}</string>
</dict>
<key>topA_walk_left_03</key>
<dict>
<key>frame</key><string>{{1191,163},{99,156}}</string>
<key>offset</key><string>{-5.5,12.5}</string>
<key>rotated</key><false/>
<key>sourceSize</key><string>{264,493}</string>
</dict>
<key>topA_walk_left_04</key>
<dict>
<key>frame</key><string>{{1292,163},{98,157}}</string>
<key>offset</key><string>{-6,10}</string>
<key>rotated</key><false/>
<key>sourceSize</key><string>{264,493}</string>
</dict>
<key>topA_walk_left_05</key>
<dict>
<key>frame</key><string>{{1392,163},{99,156}}</string>
<key>offset</key><string>{-5.5,15.5}</string>
<key>rotated</key><false/>
<key>sourceSize</key><string>{264,493}</string>
</dict>
<key>topA_walk_left_06</key>
<dict>
<key>frame</key><string>{{1493,163},{99,154}}</string>
<key>offset</key><string>{-5.5,18.5}</string>
<key>rotated</key><false/>
<key>sourceSize</key><string>{264,493}</string>
</dict>
<key>topA_walk_left_07</key>
<dict>
<key>frame</key><string>{{1594,163},{98,154}}</string>
<key>offset</key><string>{-6,14.5}</string>
<key>rotated</key><false/>
<key>sourceSize</key><string>{264,493}</string>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key><integer>2</integer>
<key>size</key><string>{1958,322}</string>
<key>textureFileName</key><string>topA_walk.png</string>
</dict>
</dict>
</plist>
