<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>frames</key>
<dict>
<key>topB_idle_front_00</key>
<dict>
<key>frame</key><string>{{2,2},{84,101}}</string>
<key>offset</key><string>{0,45}</string>
<key>rotated</key><false/>
<key>sourceSize</key><string>{264,493}</string>
</dict>
<key>topB_idle_front_01</key>
<dict>
<key>frame</key><string>{{88,2},{84,102}}</string>
<key>offset</key><string>{0,45.5}</string>
<key>rotated</key><false/>
<key>sourceSize</key><string>{264,493}</string>
</dict>
<key>topB_idle_front_02</key>
<dict>
<key>frame</key><string>{{174,2},{84,103}}</string>
<key>offset</key><string>{0,46}</string>
<key>rotated</key><false/>
<key>sourceSize</key><string>{264,493}</string>
</dict>
<key>topB_idle_right_00</key>
<dict>
<key>frame</key><string>{{260,2},{93,105}}</string>
<key>offset</key><string>{7.5,46}</string>
<key>rotated</key><false/>
<key>sourceSize</key><string>{264,493}</string>
</dict>
<key>topB_idle_right_01</key>
<dict>
<key>frame</key><string>{{355,2},{93,104}}</string>
<key>offset</key><string>{7.5,46.5}</string>
<key>rotated</key><false/>
<key>sourceSize</key><string>{264,493}</string>
</dict>
<key>topB_idle_right_02</key>
<dict>
<key>frame</key><string>{{450,2},{94,105}}</string>
<key>offset</key><string>{7,47}</string>
<key>rotated</key><false/>
<key>sourceSize</key><string>{264,493}</string>
</dict>
<key>topB_idle_back_00</key>
<dict>
<key>frame</key><string>{{546,2},{75,21}}</string>
<key>offset</key><string>{-0.5,5}</string>
<key>rotated</key><false/>
<key>sourceSize</key><string>{264,493}</string>
</dict>
<key>topB_idle_back_01</key>
<dict>
<key>frame</key><string>{{623,2},{75,21}}</string>
<key>offset</key><string>{-0.5,6}</string>
<key>rotated</key><false/>
<key>sourceSize</key><string>{264,493}</string>
</dict>
<key>topB_idle_back_02</key>
<dict>
<key>frame</key><string>{{700,2},{74,20}}</string>
<key>offset</key><string>{0,5.5}</string>
<key>rotated</key><false/>
<key>sourceSize</key><string>{264,493}</string>
</dict>
<key>topB_idle_left_00</key>
<dict>
<key>frame</key><string>{{776,2},{93,105}}</string>
<key>offset</key><string>{-7.5,46}</string>
<key>rotated</key><false/>
<key>sourceSize</key><string>{264,493}</string>
</dict>
<key>topB_idle_left_01</key>
<dict>
<key>frame</key><string>{{871,2},{93,104}}</string>
<key>offset</key><string>{-7.5,46.5}</string>
<key>rotated</key><false/>
<key>sourceSize</key><string>{264,493}</string>
</dict>
<key>topB_idle_left_02</key>
<dict>
<key>frame</key><string>{{966,2},{95,105}}</string>
<key>offset</key><string>{-7.5,47}</string>
<key>rotated</key><false/>
<key>sourceSize</key><string>{264,493}</string>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key><integer>2</integer>
<key>size</key><string>{1063,109}</string>
<key>textureFileName</key><string>topB_idle.png</string>
</dict>
</dict>
</plist>
